* {
  border-radius: 3px;
  font-family: "Pirata One", cursive;
  /* font-family: "Source Code Pro", monospace; */
  /* padding: 9px; */
  /* margin: 18px; */
  box-sizing: border-box;
}

h1 {
  color: saddlebrown;
}
h3 {
  font-size: 16px;
  padding: 9px;
}

.bcard {
  background: cornsilk;
  padding: 16px;
}

.rejecttile {
  background-color: sienna;
  border: solid 1px darkgoldenrod;
  font-size: 12px;
  margin: 1px;
  padding: 3px 16px;
  text-align: left;
  color: ivory;
}

#windiv,
#losediv,
#guessdiv {
  background-color: burlywood;
  /* padding: 9px; */
  color: white;
}
#mobydiv {
  background-color: sienna;
  color: ivory;
  
}

a {
  color: ivory;

}
a:hover{
  color: maroon;
}
header {
  background-color: wheat;
  padding: 16px;
  margin: 0px;
  opacity: 0.8;
  text-align: center;
}
body {
  background-image: url("../images/wov.png");
}

footer {
  background-color: wheat;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: burlywood;
  opacity: 0.8;
  padding: 9px;
  border-radius: 0;
}

#gameboard {
  /* margin: auto; */
  margin: 16px;
  width: 100%;
  background-color: cornsilk;
  padding: 16px;
  opacity: 0.8;
}
#bottomboards {
  margin: 16px;
  margin-top: 0;
  width: 100%;
  background-color: blanchedalmond;
  padding: 16px;
  opacity: 0.8;
}
.gametile {
  background-color: sienna;
  border: solid 1px saddlebrown;
  font-family: "Source Code Pro", monospace;
  color: cornsilk;
  text-align: center;
  font-size: 32px;
  padding-top: 12px;
  height: 72px;
}
#whaleimage {
  text-align: center;
  padding: 6px;
  opacity: 0.5;
}

.row {
  margin: 3px;
}

#Subheader2 {
  color: firebrick;
  font-size: 32px;
}
