* {
  border-radius: 3px;
  font-family:  'Pirata One', cursive;
  /* font-family: "Source Code Pro", monospace; */
  /* padding: 9px; */
  /* margin: 18px; */
  box-sizing: border-box;
}

h1 {
  color: saddlebrown;
}
h3 {
  font-size: 16px;
  padding: 9px;
}

.bcard {
  background: cornsilk;
  padding: 16px;
}

.rejecttile {
  background-color: ivory;
  border: solid 1px darkgoldenrod;
  font-size: 12px;
  margin: 1px;
  text-align: center;
  color: darkgoldenrod;
}

#windiv, #losediv, #guessdiv {
  background-color: burlywood;
  /* padding: 9px; */
  color: white;
}
/* .container {
  padding: 0;
} */
header {
  background-color: wheat;
  padding: 16px;
  margin: 0px;
  opacity: .8;
  text-align: center;
}
body{
  background-image: url("../images/wov.png");
}

footer {
  background-color: linen;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 9px;
  border-radius: 0;
}

#gameboard {
 /* margin: auto; */
 width: 100%;
 background-color: cornsilk;
 padding: 16px;
 opacity: .8;
}
.gametile {
  background-color: sienna;
  border: solid 1 px saddlebrown;
  font-family: "Source Code Pro", monospace;
  color: cornsilk;
  text-align: center;
  font-size: 32px;
  padding-top: 12px;
  height: 72px;
}
#whaleimage {
  text-align: center;
  padding: 6px;
  opacity: .5;
}
